{% extends "base.html" %}

{% block content %}
    <script src="/static/graphs.js"></script>
    <div class="row">
        <div class="col-8">
            {% block graphs %}
            {% endblock %}
        </div>
        <div class="col">
            <div class="accordion accordion-vh-100" id="graphSideMenu">
                {% for i in range(6) %}
                    <template id="accordionTemplate{{ i }}">
                        <div class="accordion-item" id="accordionItem{{ i }}">
                            <h2 class="accordion-header" id="heading{{ i }}">
                                <button class="accordion-button collapsed" id="accordionButton{{ i }}" type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapse{{ i }}" aria-expanded="false"
                                        aria-controls="collapse{{ i }}">
                                    Graph {{ i + 1 }}
                                </button>
                            </h2>
                            <div id="collapse{{ i }}" class="accordion-collapse collapse"
                                 aria-labelledby="heading{{ i }}"
                                 data-bs-parent="#graphSideMenu">
                                <div class="card-body">
                                    <form class="needs-validation" id="graphForm{{ i }}" novalidate>
                                        <label for="graphRoverIdSelect{{ i }}" class="form-label"><strong>Rover</strong></label>
                                        <select name="roverId" id="graphRoverIdSelect{{ i }}" class="form-select mb-3"></select>
                                        <label for="dateInputGroup{{ i }}" class="form-label"><strong>Date Range</strong></label>
                                        <div class="input-group mb-3" id="dateInputGroup{{ i }}">
                                            <span class="input-group-text">From</span>
                                            <input type="date" class="form-control" name="startDate"
                                                   id="startDateInput{{ i }}"
                                                   onkeydown="return false" placeholder="Input start date...">
                                            <span class="input-group-text">to</span>
                                            <input type="date" class="form-control" name="endDate"
                                                   id="endDateInput{{ i }}"
                                                   onkeydown="return false" placeholder="Input end date...">
                                        </div>
                                        <label for="graphPresetSelect{{ i }}" class="form-label"><strong>Graph
                                            Presets</strong></label>
                                        <select name="graphPreset" id="graphPresetSelect{{ i }}"
                                                class="form-select mb-3">
                                            <option>Latitude/Longitude</option>
                                            <option>Displacement/Time</option>
                                            <option>Velocity/Time</option>
                                            <option>Velocity/Time/Temperature</option>
                                            <option selected>Custom...</option>
                                        </select>
                                        <label for="xAxisDataSourceGroup{{ i }}" class="form-label"><strong>X
                                            Axis</strong></label>
                                        <div class="input-group mb-3" id="xAxisDataSourceInputGroup{{ i }}">
                                            <span class="input-group-text">Data Source</span>
                                            <select name="xAxisDataSource" id="xAxisDataSourceSelect{{ i }}"
                                                    class="form-select">
                                                <option selected value="longitude">Longitude</option>
                                                <option value="latitude">Latitude</option>
                                                <option value="altitude">Altitude</option>
                                                <option value="temperature">Temperature</option>
                                                <option value="velocity">Velocity</option>
                                                <option value="displacement">Displacement</option>
                                                <option value="timestamp">Time</option>
                                            </select>
                                        </div>
                                        <div class="input-group mb-3" id="xAxisScaleInputGroup{{ i }}">
                                            <span class="input-group-text">Scale from</span>
                                            <input name="xAxisScaleStart" class="form-control"
                                                   id="xAxisScaleStartInput{{ i }}"
                                                   placeholder="Input start..." value="Auto">
                                            <span class="input-group-text">to</span>
                                            <input name="xAxisScaleEnd" class="form-control"
                                                   id="xAxisScaleEndInput{{ i }}"
                                                   placeholder="Input end..." value="Auto">
                                        </div>
                                        <div class="input-group mb-3" id="xAxisLabelInputGroup{{ i }}">
                                            <span class="input-group-text">Label</span>
                                            <input name="xAxisLabel" type="text" class="form-control"
                                                   id="xAxisLabelInput{{ i }}"
                                                   placeholder="Input label...">
                                        </div>
                                        <label for="yAxisDataSourceGroup{{ i }}" class="form-label"><strong>Y
                                            Axis</strong></label>
                                        <div class="input-group mb-3" id="yAxisDataSourceInputGroup{{ i }}">
                                            <span class="input-group-text">Data Source</span>
                                            <select name="yAxisDataSource" id="yAxisDataSourceSelect{{ i }}"
                                                    class="form-select">
                                                <option selected value="longitude">Longitude</option>
                                                <option value="latitude">Latitude</option>
                                                <option value="altitude">Altitude</option>
                                                <option value="temperature">Temperature</option>
                                                <option value="velocity">Velocity</option>
                                                <option value="displacement">Displacement</option>
                                                <option value="timestamp">Time</option>
                                            </select>
                                        </div>
                                        <div class="input-group mb-3" id="yAxisScaleInputGroup{{ i }}">
                                            <span class="input-group-text">Scale from</span>
                                            <input name="yAxisScaleStart" class="form-control"
                                                   id="yAxisScaleStartInput{{ i }}"
                                                   placeholder="Input start..." value="Auto">
                                            <span class="input-group-text">to</span>
                                            <input name="yAxisScaleEnd" class="form-control"
                                                   id="yAxisScaleEndInput{{ i }}"
                                                   placeholder="Input end..." value="Auto">
                                        </div>
                                        <div class="input-group mb-3" id="yAxisLabelInputGroup{{ i }}">
                                            <span class="input-group-text">Label</span>
                                            <input name="yAxisLabel" type="text" class="form-control"
                                                   id="yAxisLabelInput{{ i }}"
                                                   placeholder="Input label...">
                                        </div>
                                        <label for="yAxisStylingInputGroup{{ i }}"
                                               class="form-label"><strong>Y Axis Graph Styling</strong></label>
                                        <div class="input-group mb-3" id="yAxisGraphTypeInputGroup{{ i }}">
                                            <span class="input-group-text">Type</span>
                                            <select name="yAxisGraphType" id="yAxisGraphTypeSelect{{ i }}" class="form-select">
                                                <option>Line</option>
                                                <option>Scatter</option>
                                            </select>
                                        </div>
                                        <div class="input-group mb-3" id="yAxisStylingInputGroup{{ i }}">
                                            <span class="input-group-text">Colour</span>
                                            <input name="yAxisLineColour" type="color" class="form-control"
                                                   id="yAxisStylingInput{{ i }}"
                                                   placeholder="Input colour...">
                                        </div>
                                        <input type="checkbox" id="y2AxisEnabled{{ i }}" name="y2AxisEnabled"
                                               style="cursor: auto;">
                                        <label id="y2AxisLabel{{ i }}" for="separator{{ i }}" class="form-label">
                                            <strong>Y2 Axis</strong>
                                        </label>
                                        <div class="input-group" id="separator{{ i }}"></div>
                                        <div class="input-group mb-3" id="y2AxisDataSourceInputGroup{{ i }}">
                                            <span class="input-group-text">Data Source</span>
                                            <select name="y2AxisDataSource" id="y2AxisDataSourceSelect{{ i }}"
                                                    class="form-select">
                                                <option selected value="longitude">Longitude</option>
                                                <option value="latitude">Latitude</option>
                                                <option value="altitude">Altitude</option>
                                                <option value="temperature">Temperature</option>
                                                <option value="velocity">Velocity</option>
                                                <option value="displacement">Displacement</option>
                                                <option value="timestamp">Time</option>
                                            </select>
                                        </div>
                                        <div class="input-group mb-3" id="y2AxisScaleInputGroup{{ i }}">
                                            <span class="input-group-text">Scale from</span>
                                            <input name="y2AxisScaleStart" class="form-control"
                                                   id="y2AxisScaleStartInput{{ i }}"
                                                   placeholder="Input start..." value="Auto">
                                            <span class="input-group-text">to</span>
                                            <input name="y2AxisScaleEnd" class="form-control"
                                                   id="y2AxisScaleEndInput{{ i }}"
                                                   placeholder="Input end..." value="Auto">
                                            <span class="input-group-text">by</span>
                                            <input name="y2AxisScaleIncrement" class="form-control"
                                                   id="y2AxisScaleIncrementInput{{ i }}"
                                                   placeholder="Input increment..." value="Auto">
                                        </div>
                                        <div class="input-group mb-3" id="y2AxisLabelInputGroup{{ i }}">
                                            <span class="input-group-text">Label</span>
                                            <input name="y2AxisLabel" type="text" class="form-control"
                                                   id="y2AxisLabelInput{{ i }}"
                                                   placeholder="Input label...">
                                        </div>
                                        <label id="y2AxisStylingLabel{{ i }}" for="y2AxisStylingInputGroup{{ i }}"
                                               class="form-label"><strong>Y2 Axis Graph Styling</strong></label>
                                        <div class="input-group mb-3" id="y2AxisGraphTypeInputGroup{{ i }}">
                                            <span class="input-group-text">Type</span>
                                            <select name="y2AxisGraphType" id="y2AxisGraphTypeSelect{{ i }}" class="form-select">
                                                <option>Line</option>
                                                <option>Scatter</option>
                                            </select>
                                        </div>
                                        <div class="input-group mb-3" id="y2AxisStylingInputGroup{{ i }}">
                                            <span class="input-group-text">Colour</span>
                                            <input name="y2AxisLineColour" type="color" class="form-control"
                                                   id="y2AxisStylingInput{{ i }}"
                                                   placeholder="Input colour...">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </template>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        $("#addGraphButton").click(function (e) {
            e.preventDefault();
            addGraph();
        });
        $("#removeGraphButton").click(function (e) {
            e.preventDefault();
            removeSelectedGraph();
        });
        $("#exportGraphButton").click(function (e) {
            e.preventDefault();
            exportSelectedGraph();
        });
    </script>
    {#            <script>#}
    {#                $(function () {#}
    {#                    $('.accordion-vh-100 .collapse').on('show.bs.collapse', function () {#}
    {#                        $(this).parents('.accordion-item').addClass('show');#}
    {#                    });#}
    {##}
    {#                    $('.accordion-vh-100 .collapse').on('hide.bs.collapse', function () {#}
    {#                        $(this).parents('.accordion-item').removeClass('show');#}
    {#                    });#}
    {#                });#}
    {#            </script>#}
{% endblock %}
